<div class="container">
  <div>
    <h1>Books beyond your imagination</h1>
    <p class="text-center">Check out all the books you can borrow</p>
  </div>

  <div class="cards">
    <% @books.each do |book| %>
      <div class="card-trip">
        <div class="card-grid">
          <%= cl_image_tag book.photo.key, class:"w-100", crop: :fill%>
          <div class="card-trip-infos">
            <div>
              <h2><%= book.title %></h2>
              <p><%= book.author %></p>
              <p class="mb-3"><%= book.category %></p>
              <%= link_to 'See More', book_path(book), class:"btn btn-small" %>
            </div>
            <p class="price"><%= book.delivery_price %>€</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
