<div class="container">
  <div>
    <h1 class="index-header">Read Unlimited</h1>
    <p class="text-center">Your shelves are not big enough to contain your love for books?
      <br>OpenBooks is your place for unlimited reads.
      <br>Check out all the books you can borrow from the openBooks readers' community.
      <br>You can also share your favorite reads by adding your books to the library.
    </p>
  </div>
  <div class="search">
    <%= form_with url: books_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a book"
    %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="cards">
    <% @books.each do |book| %>
      <div class="card-trip">
        <div class="card-grid">
          <%= cl_image_tag book.photo.key, class:"w-100", crop: :fill%>
          <div class="card-trip-infos">
            <div>
              <h2><%= book.title %></h2>
              <p><%= book.author %></p>
              <p class="mb-3"><%= book.category %></p>
              <%= link_to 'See More', book_path(book), class:"btn btn-small" %>
            </div>
            <p class="price"><%= book.delivery_price %>€</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
