<div class="container">
  <h1>Wanna read: <em><%= @book.title %></em></h1>
  <div class="grid-container">
    <figure class="img-show">
      <%= cl_image_tag @book.photo.key, class:"w-100", crop: :fill%>
    </figure>
    <div class='book-info'>
      <h3><%= @book.title %></h3>
      <span><%= @book.author %></span>
      <p><%= @book.category %></p>
      <div class="grey-bloc">
        <p class="book-desc"><%= @book.description %></p>
        <p class="price-desc">Delivery price: <%= @book.delivery_price %>€</p>
        <%# <%= link_to 'Book it', new_book_reservation_path(@book), class:"btn btn-small" %>
      </div>
    </div>
    <%# adding the reservation form on the books show view %>
    <div class="resa-form">
      <%= simple_form_for [@book, @reservation], html: { data: { controller: 'flatpickr'} } do |f| %>
          <h2 class='book-title'>Book it Now 📓</h2>
          <%= f.input :starting_date,
                      label: "Book from (dd/mm/yyyy)",
                      as: :string,
                      input_html: { data: { flatpickr_target: 'startDateInput' } } %>
          <%= f.input :ending_date,
                      label: "Until (dd/mm/yyyy)",
                      as: :string,
                      input_html: { data: { flatpickr_target: 'endDateInput'} } %>
          <%= f.button :submit, "Book it", class:"btn btn-small" %>
        <% end %>
    </div>
  </div>
</div>
